<a href="https://colab.research.google.com/github/easyhardhoon/data_analysis_with_stats/blob/main/DA1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#DA(data_analysis)에서는
 
통계학 지식을 기반으로 데이터 분석에 대해 공부합니다.

python기반이고. 사용 라이브러리는 다음과 같습니다.
   
⏰pandas

⏰numpy

⏰matplotlib



#python 기초

**1. end를 이용한 문장의 끝 문자 바꾸기**

default는 개행문자 '\n'입니다

In [ ]:
print("hi, ", end="")
print("hello")

hi, hello

**2. 데이터 타입의 종류**

In [ ]:
var1 = 100 #int
var2 = 100.1 #float
var3 = "string" #string
var4 = [100,10] #list
var5 = {1:100,2:200} #dictionary
var6 = {100,200,300} #set

**3. list**

In [ ]:
sample_list = ['A','B','C','A']
sample_list.remove('A')
sample_list
#이렇게 되면 모든 A를 지우는게 아니라 맨 앞의 A만 지워집니다.

['B', 'C', 'A']

In [ ]:
sample_list.sort()
sample_list

['A', 'B', 'C']

In [ ]:
sample_list.sort(reverse=True)
sample_list
sample_list.reverse()
sample_list

['A', 'B', 'C']

In [ ]:
class_list = [sample_list] *2 
class_list

[['A', 'B', 'C'], ['A', 'B', 'C']]

In [ ]:
class_list[0][1] = "F"
class_list #[0][1] 과 [1][1]이 모두 sample_list라는 같은 주소를 가리키고 있기 
#때문에 둘 다 바뀐 모습입니다.

[['A', 'F', 'C'], ['A', 'F', 'C']]

In [ ]:
s = ['a','b','c']
l = s*2
l[0] = 'f'
l
#이렇게 1차원 리스트에서는 상식대로 정해진 인덱스 값만 바뀐 모습입니다.

['f', 'b', 'c', 'a', 'b', 'c']

**4. Tuple, set, dictionary**

tuple : list와 달리 한번 정의된 값은 바꿀 수 없다

set : 순서가 없는 자료형. value만 가지고 있다. 

dict : 순서가 없는 자료형. key-value pair로 저장되어 key를 통해 value를 조회할 수 있다.

In [ ]:
ex_set = {"A","B","C","A"}
ex_set
#set은 중복을 허용하지 않습니다.

{'A', 'B', 'C'}

In [ ]:
ex_dict = {"A": 1000, "B":500, "C":300}
ex_dict["A"] 
ex_dict.get("A") # 바로 윗줄 코드와 같은 말입니다.
#이렇게 dict에서 조회연산의 방법은 두가지가 있다.
#dict의 key로 int,string,float,tuple다 가능하지만 list는 안된다

1000

**5. string opertaions**

In [ ]:
name = "easyhardhoon"
print(name[:4]) #string은 list처럼 쓸 수 있다
age = "25"
job = "student"
print(f"my name is {name}, age is {age}. my job is {job}") #fstring 지원. 가장 편리

easy
my name is easyhardhoon, age is 25. my job is student

In [ ]:
example = "my name is easyhardhoon"
print(example.capitalize())
print(example.upper())
print(example.find("name")) #name의 시작인덱스, 즉 "n"의 인덱스 출력
print(example.split())
ex = "        easy          hard"
print(ex.strip())

My name is easyhardhoon
MY NAME IS EASYHARDHOON
3
['my', 'name', 'is', 'easyhardhoon']
easy          hard

**6. class**

In [ ]:
class Student:
  def __init__(self,name,age):
    self.name = name
    self.age = age
  def get_age(self):
    return self.age
EZ = Student("easyhardhoon","25") 
#python의 클래스에서 객체(object)선언은 위와 같이 합니다.
#__init__이 생성자의 역할을 한다고 생각하면 될듯 합니다.
EZ.get_age()

'25'

In [ ]:
class UnionStudent(Student):
  def __init__(self, name, age, step):
    self.step = step
    super(UnionStudent,self).__init__(name,age) #부모 클래스 초기화하는 코드입니다.
    #super().__init__()와 동일합니다.
    #아예 unionstudent의 init 매서드를 생략한다면 super 사용안해도 됩니다.
  def get_step(self):
    return self.step
hoon = UnionStudent("hoon","25","4")
#hoon.get_step()
hoon.get_age() #super를 해주지 않으면 부모 클래스 초기화가 이루어지지 않아 에러가 뜹니다.

'25'

**7. inline opertations**

In [ ]:
num_list = [1,2,3,4,5]
str_list = str(num_list) #이렇게하면 한 개의 string이 된다
str_list2 = [str(x) for x in num_list] # 이 방법이 원소하나하나가 str이 되는 올바른 코드입니다.
str_list3 = [str(x) for x in num_list if x%2 ==0]
str_list4 = [x if x%2 == 0 else x*2 for x in num_list]
num_dict = {1:100,2:200,3:300}
num_dict_filtered = {k:v for k,v in num_dict.items() if k%2==0}

⏰아래는 같은 계산을 리스트 내포가 아닌 lambda 함수로 구한 코드입니다

In [12]:
array = [1,2,3,4,5] #사실은 리스트지만 파이썬에서는 리스트를 그냥 배열로 이해해도 됩니다
array = list(map(str,array)) 
#array = [str(x) for x in array] 바로 위의 코드와 동일한 코드입니다. 
array

['1', '2', '3', '4', '5']

**8. 리스트와 배열**

python에서는 array를 지원하지 않는다. 

그래서 numpy를 사용함. **파이썬에서는 그냥 리스트를 array로 생각하는 것이 좋다.**

⏰배열 : 인덱스를 가진다. **연속적인 메모리 공간**. 그래서 조회가 빠르고 cache hit 확률 크다

⏰리스트 : 인덱스를 가지긴 하지만 몇 번째 데이터인가 정도를 의미한다

(리스트의 아이템들의 메모리 주소가 연속적일 수도 있고 아닐 수도 있다)

In [ ]:
import numpy as np
a = np.array([[1,2],[3,4]]) #array
b = [[1,2],[3,4]] #list(파이썬에서 리스트를 array로 인식하긴 합니다)
print(a[1,1]) #인덱스로 값 불러오기 가능 (완전한 인덱스)
print(b[1][1]) #인덱스를 가지긴함. 단순히 몇번째 데이터인가 정도를 의미.
#완전한 의미의 인덱스는 아니다

4
4